.employee {
	margin: 0;
	background-color: #fff;
	border-radius: 10px;
	padding: 0.625rem 0.625rem 2.8125rem;
	color: $color-7;

	@media (max-width: 40.062em) {
		margin-bottom: 20px;
	}

	img {
		width: 100%;
		border-radius: 5px;
	}

	a {
		color: $color-7;
	}

	& > a {
		position: relative;
		display: block;
		border-radius: 5px;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, .5);
			opacity: 0;
			transition: opacity .3s ease-in;
		}

		&:hover:after {
			opacity: 1;
		}
	}

	figcaption {
		padding-top: 2.5rem;

		.employee-name {
			text-transform: uppercase;
			font-size: 1.375rem;
		}

		.employee-connect {

			.fa {
				font-size: 1.5rem;
				transition: color .3s ease-in;
			}

			.fa-google:hover {
				color: #dd4b39;
			}

			.fa-instagram:hover {
				color: #517fa4;
			}

			.fa-vine:hover {
				color: #00bf8f;
			}

			.fa-pinterest:hover {
				color: #cb2027;
			}

			.fa-twitter:hover {
				color: #00aced;
			}

			.fa-facebook:hover {
				color: #3b5998;
			}

			.fa-dribbble:hover {
				color: #ea4c89;
			}
		}
	}
}