.contact {

	&.inline-list > li > * {
		display: inline-block;
		font-size: 1.375rem;
		color: #fff;
		vertical-align: middle;
		font-weight: 300;
	}

	&.inline-list > li > i.fa {
		font-size: 6.125rem;
		margin-right: 0.9375rem;
	}

	&.inline-list > li {
		margin-right: 6.25rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

.contact-form {

	.form-group {
		position: relative;
	}

	.contact-form-input {
		border: none;
		border-radius: 5px;
		padding: 10px 30px 10px 15px;
		text-transform: uppercase;
	}

	i.fa {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #aaaaaa;
	}

	textarea {
		height: 15.625rem;
	}

	.button-submit {
		margin: 1.5625rem 0 0 0;
		background-color: $color-7;
		color: #fff;
		text-transform: uppercase;
		transition: all .3s ease-in;
		padding: 0.9375rem 1.5625rem;

		&:hover {
			background-color: #fff;
			color: $color-7;
		}
	}
}