.funfacts-wrap {
	margin-top: 2.1875rem;

	span {
		display: block;
	}

	.fact-number {
		font-size: 2.5rem;
		font-weight: bold;
		margin-top: 0.625rem;
	}

	.facts-desc {
		text-transform: uppercase;
	}

	.fa {
		font-size: 5.625rem;
		display: block;
		background-color: #fff;
		margin: 0 auto;
		width: 10.625rem;
		height: 10.625rem;
		border-radius: 15px;
		line-height: 10.625rem;

		@media (max-width: 49.625rem) {
			width: 8.125rem;
			height: 8.125rem;
			line-height: 8.125rem;
			font-size: 3.125rem;
		}

		&.fa-coffee {
			color: $color-1;
		}

		&.fa-smile-o {
			color: $color-3;
		}

		&.fa-music {
			color: $color-6;
		}

		&.fa-gear {
			color: $color-5;
		}
	}
}