.pricing-table {
	border-radius: 1.25rem;
	background-color: #fff;
	position: relative;
	border: none;
	padding: 7.8125rem 0 0.9375rem;
	margin-top: 5.625rem;

	.price {
		font-size: 2.5rem; 
		font-weight: bold;
		width: 12.5rem;
		height: 12.5rem;
		border-radius: 50%;
		color: #fff;
		padding-top: 3.625rem;
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -6.25rem;
		margin-top: -6.25rem;
		vertical-align: top;
	}

	.price-number {
		font-size: 6.25rem;
		line-height: 0.5;
		margin-left: 0.5625rem;
	}

	.price-time {
		display: block;
		font-size: 1.125rem;
		font-weight: 300;
		margin-top: 0.625rem;
	}

	&.mini {

		.price, .button {
			background-color: $color-3;
		}

		.button {
			text-transform: uppercase;
		}
	}


	&.standard {
		
		.price, .button {
			background-color: $color-6;
		}

		.button {
			text-transform: uppercase;
		}
	}

	&.premium {

		.price, .button {
			background-color: $color-5;
		}

		.button {
			text-transform: uppercase;
		}
	}

	.title {
		background-color: transparent;
		font-size: 1.875rem;
		text-transform: uppercase;
		color: $color-7;
		position: relative;

		&:after {
			content: '';
			width: 2rem;
			height: 0.125rem;
			background-color: $color-7;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -1rem;
		}
	}

	.bullet-item {
		border-bottom: none;
	}

	.cta-button {
		border-radius: 0 0 0.625rem 0.625rem;
	}
}