@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lobster);

// Fonts
$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Lobster', cursive;

// Colors
$color-1: #db5941;
$color-2: #ebebea;
$color-3: #f8bc3a;
$color-4: #2f2f2f;
$color-5: #2a80b9;
$color-6: #27ae61;

// text color
$color-7: #2f2f2f;